/*
JavaScript Snake
By Patrick Gillespie
http://patorjk.com/games/snake
*/

body {
    margin: 0px;
    padding: 0px;
    background-color: #e7dde0;
}
#game-area {
    margin: 10px;
    padding: 0px;
}

#mode-wrapper {
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
}
#game-area:focus {
    outline: none;
}
a.snake-link, a.snake-link:link, a.snake-link:visited {
    color: #FCFC54;
}
a.snake-link:hover {
    color: #FfFf54;
}
.snake-pause-screen {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    width: 300px;
    height: 80px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -150px;
    display: none;
    background-color: black;
    color: white;
}
.snake-panel-component {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background-color: #e7dde0;
    padding: 8px;
    margin: 0px;
}
.snake-snakebody-block {
    margin: 0px;
    padding: 0px;
    background-color: #FF0000;
    position: absolute;
    border: 0px solid #000080;
    background-repeat: no-repeat;
}
.snake-snakebody-alive {
    background-image: url('./images/light-snakeblock.png');
}
.snake-snakebody-dead {
    background-image: url('./images/deadblock.png');
}
.snake-food-block {
    margin: 0px;
    padding: 0px;
    background-color: #141742;
    border: 0px solid #000080;
    position: absolute;
}
.snake-playing-field {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: #8da394;
    border: 0px solid #00ab6a;
}
.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    background-color: #e7dde0;
    position: relative;
}
.snake-welcome-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    /*height: 150px;*/
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: block;
}
.snake-try-again-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-top: -75px;
    margin-left: -158px;
    text-align: center;
    display: none;
}